.row
  .col-md-6
    = search_form_for @search, url: donors_path, method: :get, remote: true do |f|
      = f.search_field :last_name_cont, class: "form-control donor-search", placeholder: "Search by last name"
  .col-md-6
    .pull-right
      = link_to new_donor_path do
        %button.btn.btn-success Add Donor
    .clearfix
%br

#donors_listing
  = render "index", donors: @donors
