- if person_signed_in?
  / Static navbar
  %nav.navbar.navbar-default{role: "navigation"}
    .container-fluid
      .navbar-header
        %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", type: "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{href: root_path} Bal Asha Trust
      #navbar.navbar-collapse.collapse
        %ul.nav.navbar-nav
          / %li.active
          /   %a{href: "#"} Home
          - if can? :read, Person
            %li{class: ("active" if params[:controller] == "people" && params[:action] != "change_password")}
              %a{href: people_path} People
          %li{class: ("active" if params[:controller] == "donors")}
            %a{href: donors_path} Donors
          %li{class: ("active" if params[:controller] == "donations")}
            %a{href: donations_path} Donations
          %li{class: ("active" if params[:controller] == "purchases")}
            %a{href: purchases_path} Purchases
          %li{class: ("active" if params[:controller] == "disbursements")}
            %a{href: disbursements_path} Disbursements
          %li{class: ("active" if params[:controller] == "items")}
            %a{href: items_path} Items
          %li{class: ("active" if params[:controller] == "categories")}
            %a{href: categories_path} Categories
          %li.dropdown{class: ("active" if params[:controller] == "reports")}
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              Reports
              %span.caret
            %ul.dropdown-menu
              %li
                %a{href: reports_daily_inventory_path } Daily Inventory
                %a{href: print_list_donors_path } Print Donors
                %a{href: reports_audit_path } Audit Report
                %a{href: reports_top_donors_path } Top Donors
                %a{href: reports_total_kind_donations_path } Total Kind Donations
                %a{href: reports_form_10bd_path } Form 10BD
                %a{href: reports_foreign_donations_path } Foreign Donations
              / %li.divider{:role => "separator"}
              / %li
              /   %a{:href => "#"} Separated link
        %ul.nav.navbar-nav.navbar-right
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", href: "#", role: "button"}
              = current_person.email
              %span.caret
            %ul.dropdown-menu{role: "menu"}
              %li
                %a{href: change_password_people_path} Change Password
              %li
                = link_to "Sign out", destroy_person_session_path, method: :delete
