.row
  .col-md-6
    .panel.panel-default
      .panel-heading
        %h3.panel-title Upcoming Birthdays
      .panel-body
        - if @donors.empty?
          %p No upcoming birthdays
        - else
          %table.table
            %tbody
              - @donors.each do |donor|
                %tr
                  %td= link_to donor.full_name, donor_path(donor)
                  %td= l(donor.date_of_birth, format: :formal)
