.row
  .col-md-10
    = search_form_for @search, url: items_path, method: :get, remote: true, class: "form-inline" do |f|
      .row
        .form-group.col-md-6
          .input-group.col-md-12
            = f.search_field :name_cont, class: "form-control item-name-search", placeholder: "Search by Item Name"
  .col-md-2
    .pull-right.clearfix
      = link_to new_item_path do
        %button.btn.btn-success Add Item

%br

#items_listing
  = render "index", items: @items


