.row
  .col-md-12
    = link_to new_country_path do
      %button.btn.btn-success Add Country
%br

.table-responsive
  %table.table.table-bordered
    %thead
      %tr
        %th.col-md-10 Name
        %th.col-md-2 Controls
    %tbody
      - @countries.each do |country|
        %tr
          %td= country.name
          %td
            = link_to 'Edit', edit_country_path(country), class: "btn btn-primary"
            = link_to 'Remove', country, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"

