body {
  font-family: Sans-Serif;
  font-size: 16px !important;
}

table th {
  text-align: left;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix {
  clear: both;
}

.container {
  /*width: 90%;
  margin: 0 auto;*/
}

.logo {
  width: 150px;
}

.small-text {
  font-size: 12px;
}