/*
 *= require bootstrap_paper.min
 *= require fonts
 */

html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  line-height: 1.6;
}

.super-container {
  height: 1400px;
}

hr {
  background-color: #ddd; height: 1px;
}

.header-row {
  font-size: 14px;

  div {
    display: inline-block;
    vertical-align: top;
  }

  p {
    margin-bottom: 10px;
  }
}

p.no-bottom-margin {
  margin-bottom: 0;
}

.receipt-sub-header {
  text-align: center;

  strong {
    font-family: 'Balsamiq Sans', cursive;
    font-weight: 700;
    font-size: 22px;
    background-color: #ed6b87;
    border-radius: 10px;
    color: white;
    padding: 5px 25px;
  }
}

.donation-details {
  font-size: 16px;
  margin-top: 10px;

  strong {
    font-size: 17px;
  }
}

.footer-image {
  width: 100%;
  position: fixed;
  bottom: 0;
}