!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %meta{:content => "Bal Asha Trust", :name => "description"}
    %meta{:content => "Bal Asha Trust", :name => "author"}

    %title Bal Asha Trust
    = wicked_pdf_stylesheet_link_tag 'pdf'

    = yield(:style)

  %body
    .container
      = yield
