!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %meta{:content => "Bal Asha Trust", :name => "description"}
    %meta{:content => "Bal Asha Trust", :name => "author"}

    %title Bal Asha Trust
    = wicked_pdf_stylesheet_link_tag 'pdf'

  %body
    .container
      = wicked_pdf_image_tag "logo.png", class: "logo"
      %br
      %br
      %div{style: "margin-top: 5px;"}
        Bal Asha Trust Anand Niketan, Dr. E. Moses Road, Mahalaxmi, Mumbai 400011, Maharashtra

      %div{style: "margin-top: 5px;"}
        Phone nos: 24926526 / 24944090

      %div{style: "margin-top: 5px;"}
        Email: balashatrust@gmail.com / Website: www.balashatrust.org

      %div{style: "margin-top: 5px;"}
        Projects: Destitute Children’s Home | Adoption | Education Sponsorship | Training and Development & Hope

      %hr
      %br

      = yield